@model IEnumerable<Control_Escolar.Models.Alumnos>
           <table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellidoPaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellidoMaterno)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idAlumno }) |
                @Html.ActionLink("Details", "Details", new { id = item.idAlumno })  |
                @Html.ActionLink("Delete", "Delete", new { id = item.idAlumno })
            </td>
        </tr>
    }
</table>
dassdadsa